.chatBotBox {
  position: fixed;
  bottom: 20px;
  right: 130px;
  z-index: 100;
}

#chatbotView {
  width: 400px;
  display: flex;
  align-items: center;
  border: 2px solid $green;
  // width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: $cardcolor;
  column-gap: 20px;
  cursor: pointer;
}

#chatbotView:hover {
}

.imgView {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chatSubTitle {
  font-size: 10px;
  color: $lightwhite;
}

.chatTitle {
  color: $lightwhite;
}

#chatbotView {
  cursor: pointer;
}

.chatBotContainer {
  animation: fadeUp 0.5s ease-in-out;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 780px) {
  .chatBotBox {
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  #chatbotView {
    width: 200px;
  }
  .imgView {
    height: 30px;
    width: 30px;
  }
  .chatSubTitle {
    font-size: 8px;
  }
  .chatTitle {
    font-size: 12px;
  }
  .titleDiv {
    gap: 2px;
  }
  .chatBotContainer {
    // width: 380px;
  }
}
